<section class="banner-fullwidth">

    <ul id="banner-fullwidth" class="banner owl-carousel owl-theme">
        <li style="background-image: url('/assets/img/home-banner-01.jpg')">
            <div class="wrapper">
                <h1 class="m-0 mb-30">Deixar para amanhã não <br> é mais uma opção.</h1>
                <p class="m-0 light fm">Nós ajudamos empresas a se atualizarem, acompanhando o avanço da tecnologia e superando suas limitações no ambiente digital.</p>
                <!-- <a class="btn" href="#">Conheça nossas soluções</a> -->
            </div>
        </li>
        <li style="background-image: url('/assets/img/home-banner-02.jpg')">
            <div class="wrapper">
                <h1 class="m-0 mb-30">Tecnologia não pode ser uma barreira para o avanço da sua startup.</h1>
                <p class="m-0 light fm">Nós somamos nosso conhecimento de UX, front e back-end ao de pequenas equipes para desenhar produtos de sucesso.</p>
                <!-- <a class="btn" href="#">Conheça nossas soluções</a> -->
            </div>
        </li>
        <li class="noshadow" style="background-image: url('/assets/img/home-banner-03.jpg')">
            <div class="wrapper">
                <h1 class="inverted m-0 mb-30">Concentre seus investimentos <br> para conquistar admiradores online</h1>
                <p class="inverted m-0 light fm">Nós cuidamos da tecnologia para a sua <br> empresa ir mais longe. E do marketing também.</p>
                <!-- <a class="btn" href="#">Conheça nossas soluções</a> -->
            </div>
        </li>
    </ul>
</section>
