<section class="banner-fullwidth">

  <ul class="banner">

    <li style="background-image: url('/assets/img/home-banner-01.png')">
      <div class="wrapper">
        <h1>Deixar para amanhã não <br> é mais uma opção.</h1>
        <p class="light fm">Nós ajudamos empresas a se atualizarem, acompanhando o avanço da tecnologia e superando suas limitações no ambiente digital.</p>

        <!-- <a class="btn" href="#">Conheça nossas soluções</a>         -->
      </div>
    </li>

  </ul>

</section>