sizes = 0 5 8 10 15 16 20 24 25 30 32 35 40 45 50 55 60 65 70 75 80 100
for num in sizes
  .m-{num}
    margin: unit(num, px) !important
  .mb-{num}
    margin-bottom: unit(num, px) !important
  .mt-{num}
    margin-top: unit(num, px) !important
  .ml-{num}
    margin-left: unit(num, px) !important
  .mr-{num}
    margin-right: unit(num, px) !important
  .mtb-{num},
  .my-{num}
    margin-top: unit(num, px) !important
    margin-bottom: unit(num, px) !important
  .mlr-{num},
  ,mx-{num}
    margin-left: unit(num, px) !important
    margin-right: unit(num, px) !important

  .n-m-{num}
    margin: unit(num * -1, px) !important
  .n-mb-{num}
    margin-bottom: unit(num * -1, px) !important
  .n-mt-{num}
    margin-top: unit(num * -1, px) !important
  .n-ml-{num}
    margin-left: unit(num * -1, px) !important
  .n-mr-{num}
    margin-right: unit(num * -1, px) !important
  .n-mtb-{num},
  .n-my-{num}
    margin-top: unit(num * -1, px) !important
    margin-bottom: unit(num * -1, px) !important

  .n-mlr-{num},
  .n-mx-{num}
    margin-left: unit(num * -1, px) !important
    margin-right: unit(num * -1, px) !important

  .p-{num}
    padding: unit(num, px) !important
  .pb-{num}
    padding-bottom: unit(num, px) !important
  .pt-{num}
    padding-top: unit(num, px) !important
  .pl-{num}
    padding-left: unit(num, px) !important
  .pr-{num}
    padding-right: unit(num, px) !important
  .ptb-{num},
  .py-{num}
    padding-top: unit(num, px) !important
    padding-bottom: unit(num, px) !important
  .plr-{num},
  .px-{num}
    padding-left: unit(num, px) !important
    padding-right: unit(num, px) !important