// font-size base 16

// Headers
h1, h2, h3, h4, h5, h6 {
  margin 0
  padding 0
  line-height 100%
  font-family 'Roboto'
  font-weight 500
}
h1 {
  &.light { font-weight: 300; }
  &.regular { font-weight: 400; }
  &.medium { font-weight: 500; }
  &.bold { font-weight: 700; }
}

h1 { font-size: 2.375rem; }
h2 { font-size: 1.875rem; }
h3 { font-size: 1.375rem; }
h4, h5, h6 { font-size: 1rem; }

p { margin: 20px 0; }

.center,
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.uppercase { text-transform: uppercase; }

// *********************** //
.light { font-weight: 300; }
.bold { font-weight: 500; }

.fm { font-size: 1.375rem; }

.accent-foreground { color: azulUsabit !important; }

.accent-background {
  background-color azulUsabit !important
  color white !important
}

.danger {
  color red+30%
}

.success {
  color green + 10%
}