<section class="customers wrapper">
    <h1>{% t pages.index.customers.title %}</h1>
    <ul class="customers__list">
        <li class="customers__item icon-geracao-futuro">
            Geração Futuro
        </li>
        <li class="customers__item icon-tech-healthy">
            Tech Healthy
        </li>
        <li class="customers__item icon-loreal">
            L'oreal
        </li>
        <li class="customers__item icon-linc-edge">
            Linc Edge
        </li>
        <li class="customers__item icon-outra-coisa">
            Outra Coisa
        </li>
    </ul>
    <ul class="customers__list">
        <!-- <li class="customers__item icon-mongeral-aegon">
            Mongeral Aegon
        </li> -->
        <li class="customers__item icon-dufry">
            Dufry
        </li>
        <li class="customers__item icon-sanes">
            Sanes
        </li>
        <li class="customers__item icon-twelve">
            Twelve
        </li>
        <li class="customers__item icon-qx3">
            qx3
        </li>
    </ul>
</section>