<section class="customers">
    <ul class="customers__list">
        <li class="customers__item icon-geracao-futuro">
            Geração Futuro
        </li>
        <li class="customers__item icon-mongeral-aegon">
            Mongeral Aegon
        </li>
        <li class="customers__item icon-wella">
            Wella
        </li>
        <li class="customers__item icon-dufry">
            Dufry
        </li>
        <li class="customers__item icon-sanes">
            Sanes
        </li>
        <li class="customers__item icon-grupo-seleto">
            Grupo Seleto
        </li>
    </ul>
</section>