header.site-header {
  background-color alpha(black, .7)
  border-bottom 2px solid alpha(white, .2)
  position fixed
  top 0
  left 0
  right 0
  padding 20px 0
  z-index 10
  
  .wrapper {
    display flex
    justify-content space-around
    align-items center
  }

  .site-title {
    display inline-flex
    align-items flex-start
    img {
      width 30px
      margin-right 10px
    }
    svg#usabit-logotipo {
      width 80px
      margin-top 3px
      path {
        fill white
      }
    }
  }
  
  .site-nav {
    borderWidth = 5
    .menu-icon {
      display inline-block
      size(40px)
      border-radius 50%
      z-index 2
      position relative
      cursor pointer
      
      &:not(.active){
        border unit(borderWidth, px) solid azulUsabit
        box-shadow inset 0 0 2px alpha(black, .2)
        &:after {
          content ''
          position absolute
          top unit(borderWidth * -1, px)
          bottom unit(borderWidth * -1, px)
          left unit(borderWidth * -1, px)
          right unit(borderWidth * -1, px)
          display block
          border-radius 50%
          z-index 1
          animation-name breath
          animation-duration 4s
          animation-iteration-count infinite
        }        
      }

      &.active:before {
        font-family FontAwesome
        content '\f00d'
        font-size 30px
        color white
        position absolute
        trbl 0
        display flex
        align-items center
        justify-content center
      }
      
      +above('tablet'){
        display none
      }
    }

    .trigger {
      display flex
      align-items center
      
      +below('small-tablet'){
        display none
      }
      
      a.page-link {
        position relative
        color white
        padding 5px 18px
        text-decoration none

        &:after {
          content ''
          position absolute
          left 15px
          right 15px
          bottom 3px
          height 2px
          background-color transparent
        }
        
        &:hover,
        &.active {
          &:after {
            bottom -3px
            transition all 200ms
            background-color #5cb2eb
          }
        }
      }
    }
  }

  &.homepage {
    +above('small-tablet'){
      padding 50px 0
      .site-title {
        img {
          width 60px
          margin-right 18px
        }
        svg#usabit-logotipo {
          width 120px
        }
      }      
    }
  }
}

header.site-header .site-nav .responsive-menu {
  padding-top 85px
  position fixed
  trbl 0
  background-color alpha(azulUsabit, .9)
  display none
  flex-direction column
  justify-content space-around
  z-index -1
  
  &.active {
    display flex
  }

  a {
    color white
    display flex
    align-items center
    justify-content center
    font-size 5vh
    padding 2vh
    
    &:hover {
      background-color white
      color azulUsabit
      transition 100ms
    }
  }
}

header.site-header.homepage .site-nav .responsive-menu {
  padding-top 160px
}