headerHeight = 100px;

#menu-overlay {
  display flex
  position fixed
  top 0
  left 0
  size(100%)
  background-color alpha(black, .9)
  z-index 99
  
  // Open/close animation
      
  transform translateY(-100%)
  transition 300ms ease
  
  &.open {
      transform translateY(0)
  }
}

nav.header-nav {
  display flex
  align-items center
  
  > * {
    margin-right 45px
  }
  a {
    color black
    &:hover,
    &.active,
    &:active {
      color corPrincipal
      transition 200ms
      text-decoration none
    }
  }
}

header.site-header {
  // background-color alpha(black, .7)
  // border-bottom 2px solid alpha(white, .2)
  // box-shadow 0 0 2px alpha(black, .3)
  height headerHeight
  display flex
  align-items center
  background-color white
  position fixed
  top 0
  left 0
  right 0
  z-index 10
  
  .wrapper {
    display flex
    justify-content space-around
    align-items center
    
    > * {
      z-index 100
    }
  }

  .site-title {
    display inline-flex
    align-items center
    z-index 100
    img {
      width 30px
      margin-right 10px
    }
    svg#usabit-logotipo {
      width 80px
      margin-bottom 5px
      path {
        fill #bcbcbc
      }
    }
  }
}

.lang-change {
  display flex
  size(35px)
  align-items center
  justify-content center
  border #a4a4a4
  border-radius 50%
  font-size 10px
  text-transform uppercase
  text-decoration none
  color black
  padding-top 1px
  
  &:hover,
  &:focus,
  &:active {
    text-decoration none
  }
  
  +below('small-tablet'){
    font-size 16px !important
    margin-left 0
  }
}

body.main-menu-open {
  overflow hidden
  
  nav.header-nav a {
    color white
    transition 200ms
    
    &:hover {
      color corPrincipal
    }
  }
  
  header.site-header .site-title svg#usabit-logotipo path {
    fill white
    transition 200ms
  }
}

header.site-header + * {
  margin-top headerHeight
}