section.portfolio {
  h2 {
    center(650px)
    color alpha(black, .6)
  }
  
  .portfolio-list {
    
    display flex
    align-items stretch
    justify-content center
    flex-wrap wrap

    list-style none
    padding 0
    margin 0

    .portfolio-item {
      margin 20px
      text-align center
      display flex
      
      a {
        color alpha(black, .6)
        text-decoration none
        font-weight 300

        display flex
        flex-direction column
        align-items center
        
        .img-wrap {
          size(100px)

          display flex
          align-items center
          justify-content center
          
          img {
            max-width 100%
          }
        }
        
        .text-wrap {
          flex 1
          display flex
          align-items center
        }

        &:hover,
        &.active {
          color #1a9ded
        }
      }
    }
  }
  
  .portfolio-display {
    padding 40px 0
    margin 50px 0
    list-style none
    background-color alpha(black, .07)
    
    li {
      .wrapper{
        display flex
        
        +below('tablet'){
          flex-direction column
          align-items center
        }

        .img-wrap {
          flex 40
          margin-right 30px

          +below('tablet'){
            margin-right 0
            margin-bottom 30px
            max-width 500px
          }          

          img {
            max-width 100%
          }
        }
        
        .text-wrap {
          flex 60
          
          h1 {
            margin 0
            font-weight 700
          }
          
          p {
            font-size 1.125rem
            line-height 1.5
          }
          
          ul {
            list-style none
            li {
              line-height 1.9
              
              &.blue { 
                color #1a9ded 
              }
              &.red { 
                color #d95147 
              }
              &.purple { 
                color #884ba0 
              }
            }
          }
        }
      }
    }
  }
}