section.portfolio {
  h2 {
    center(650px)
    color alpha(black, .6)
  }
  
  .portfolio-list {
    display flex
    align-items stretch
    justify-content center
    flex-wrap wrap

    list-style none
    padding 0
    margin 0
    
    +below('mobile'){
      flex-wrap nowrap
    }

    .portfolio-item {
      margin 20px
      text-align center
      display flex
      align-items flex-start
      
      +below('mobile'){
        flex 1
        margin 0 auto
        justify-content center
      }
      
      a {
        color alpha(black, .6)
        text-decoration none
        font-weight 300
        align-self stretch

        display flex
        flex-direction column
        align-items center
        
        .img-wrap {
          size(100px)
          display flex
          align-items center
          justify-content center
          
          +below('mobile'){
            display none
          }
          
          img {
            max-width 100%
            max-height 100%
            flex-shrink 0
          }
        }
        
        .text-wrap {
          display none
          flex 1
          align-items center

          &.show-desktop {
            +above('small-tablet'){
              display flex
            }
          }
          &.show-mobile {
            +below('mobile'){
              display flex
              padding 7px
            }
          }
        }
        
        +below('mobile'){
          border-bottom 1px solid transparent
          margin 0 3px 7px 3px
        }

        &:hover,
        &.active {
          color #1a9ded
          +below('mobile'){
            border-bottom 1px solid @color
          }
        }
      }
    }
  }
  
  .portfolio-display {
    padding 40px 0
    margin 50px 0
    list-style none
    background-color alpha(black, .07)
    
    li.portfolio-display-item {
      
      display none
      
      &.active {
        display block
      }

      .wrapper{
        display flex
        
        +below('tablet'){
          flex-direction column
          align-items center
        }

        > .img-wrap {
          flex 40
          margin-right 30px
          text-align right

          +below('tablet'){
            margin-right 0
            margin-bottom 30px
            max-width 500px
          }          
          
          &.vcenter {
            display flex
            align-items center
          }

          img {
            max-width 100%
          }
        }
        
        .text-wrap {
          flex 60
          
          h1 {
            margin 0
            font-weight 700
          }
          
          p {
            font-size 1.125rem
            line-height 1.5
          }
          
          ul {
            list-style none
            li {
              line-height 1.9
              
              &.blue { 
                color #1a9ded 
              }
              &.red { 
                color #d95147 
              }
              &.purple { 
                color #884ba0 
              }
            }
          }
          
          ul.lista-icon {
            padding 30px 0
            li {
              display flex
              align-items center
              margin-bottom 10px
              &:last-child {
                margin-bottom 0
              }
              
              .img-wrap {
                margin-right 10px
                line-height 1
                img {
                  max-width 100%
                  margin 0
                }
              }
              
              .text-wrap {
                flex 1
                
                p {
                  margin 0
                  font-size 1rem
                  
                  &.client {}
                  &.description {
                    color alpha(black, .5)
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}