.oportunidade-imagemlocalizacao {
    position relative
    img {
        width 100%
    }
    p {
        position absolute
        right 15px
        color goldenrod
    }
}

form.oportunidade {
    background-color alpha(black, .1)
    
    &.valign-bottom {
        display flex
        align-items flex-end
    }
}

ul.oportunidades {
    li {
        margin 10px 0
        &:first-child {
            margin-top 0
        }
        &:last-child {
            margin-bottom 0
        }
        
        a {
            color black
        }
    }
}