header.page-header {
  padding 160px 0 130px
  background-size cover
  background-position center center
  background-repeat no-repeat
  background-color alpha(azulUsabit, .4)
  
  h1.page-title {
    color azulUsabit
    max-width 450px
  }
  
  p.page-description {
    font-size 1.375rem
    color white
    text-shadow 1px 1px alpha(black, .3)
    font-weight 300
    line-height 1.5
    max-width 450px
    +below('mobile'){
      br {
        display none
      }
    }
  }
  
  svg#svg-arrow-down {
    width 90px
    > * {
      fill azulUsabit
    }
  }
  
  &.texto-escuro {
    p.page-description {
      color alpha(black, .7)
      text-shadow 1px 1px alpha(white, .3)
    }
  }
}