<footer class="site-footer">
    <div class="wrapper">
        <!-- <div class="map-embed">
            <iframe src="{{site.google_map}}" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div> -->

        <div class="text-wrap">
            <h2 class="footer-heading mb-20">{{ site.title }}</h2>
            <p class="mtb-10">{{site.address_line1}}</p>
            {% if site.address_line2 %} <p class="mtb-10">{{site.address_line2}}</p> {% endif %}
            <p class="mtb-10">{{site.address_line3}}</p>
            <p class="mtb-10">{{site.phone_number}}</p>
        </div>

        <span class="flex-spacer"></span>

        <ul class="social-media-list">
            <li style="margin-right: 10px"><a href="{{site.baseurl}}/oportunidades">Entre pro nosso time</a></li>

            {% for social_link in site.social-links %}
            <li>
                {% include icon-social.html link=social_link.link fontawesome_icon=social_link.fontawesome_icon %}
            </li>
            {% endfor %}
        </ul>

    </div>
</footer>

<script id="medium-template" type="text/x-handlebars-template">

    {% raw %}
    <a href="{{postLink}}" target="_blank" class="post">
        <div class="img-wrap mb-10" style="background-image: url({{postImg}})"></div>
        <div class="text-wrap">
            <h4 class="post-title">{{postTitle}}</h4>
            <!-- <p class="post-subtitle">{{postSubtitle}}</p> -->
            <p class="post-writer">{{postAuthor}} | {{postDate}}</p>
        </div>
    </a>
    {% endraw %}

</script>

<script src="/assets/libs/jquery/dist/jquery.js"></script>
<script src="/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.js"></script>
<script src="/assets/libs/owl.carousel/dist/owl.carousel.js"></script>
<script src="/assets/libs/handlebars/handlebars.js"></script>

<script src="/assets/js/main.js"></script>
