<footer class="site-footer">
    <div class="wrapper">
        <a class="site-footer__logo" href="{% tl home %}">
            <img src="/assets/img/usabit-logo-u.png" alt="" />
            <p class="site-footer__logo-text">
                2017 Usabit Tecnologia.
                <small>Rio de Janeiro/Brasil</small>
            </p>
        </a>
        
        <nav class="site-footer__menu">
            {% assign pages = (site.pages | sort:"order" | where: "footer", "navigation") %}
            <ul class="site-footer__menu-list">
                {% for my_page in pages %}
                    {% if my_page.title %}
                        <li class="site-footer__menu-item">
                            <a href="{% tl my_page.namespace %}" class="site-footer__menu-link {% if page.url == my_page.url %}active{% endif %}">{% t my_page.title %}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="site-footer__menu-item">
                    <a href="https://medium.com/usabit" target="_blank" class="site-footer__menu-link">Blog</a>
                </li>
            </ul>
        </nav>
        
        <nav class="site-footer__social">
            <ul class="site-footer__social-list">
                {% for social_link in site.social-links %}
                    <li class="site-footer__social-item">
                        {% include icon-social.html link=social_link.link fontawesome_icon=social_link.fontawesome_icon %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <a href="#home" class="btn-go-top anchor">
            <svg viewBox="1 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M9.002,0.02 L15.695,6.325 C16.154,6.784 15.992,7.485 15.789,7.684 C15.387,8.086 14.791,8.026 14.387,7.623 L9.949,3.728 L9.947,15.042 C9.947,15.554 9.521,15.968 8.996,15.97 C8.471,15.97 8.045,15.554 8.045,15.042 L8.033,3.831 L3.762,7.685 C3.358,8.087 2.703,8.087 2.301,7.685 C1.897,7.285 1.998,6.736 2.403,6.333 L9.002,0.02 L9.002,0.02 Z" fill="#434343" class="si-glyph-fill"></path>
                </g>
            </svg>
        </a>
    </div>
</footer>
<script id="medium-template" type="text/x-handlebars-template">
    {% raw %}
    <a href="{{postLink}}" target="_blank" class="post">
        <div class="img-wrap mb-10" style="background-image: url({{postImg}})"></div>
        <div class="text-wrap">
            <h4 class="post-title">{{postTitle}}</h4>
            <!-- <p class="post-subtitle">{{postSubtitle}}</p> -->
            <p class="post-writer">{{postAuthor}} | {{postDate}}</p>
        </div>
    </a>
    {% endraw %}
</script>
<script src="{{'/assets/libs/jquery/dist/jquery.js' | prepend: site.baseurl_root }}"></script>
<script src="{{'/assets/libs/jquery.maskedinput/dist/jquery.maskedinput.js' | prepend: site.baseurl_root }}"></script>
<script src="{{'/assets/libs/owl.carousel/dist/owl.carousel.js' | prepend: site.baseurl_root }}"></script>
<script src="{{'/assets/libs/handlebars/handlebars.js' | prepend: site.baseurl_root }}"></script>
<script src="{{'/assets/libs/js-cookie/src/js.cookie.js' | prepend: site.baseurl_root }}"></script>
<script src="{{'/assets/js/main.js' | prepend: site.baseurl_root }}"></script>
<script id="language-check" type="text/javascript">
    var estamosNoBrasil = true;
    
    if (geoplugin_countryName()) {
        estamosNoBrasil = geoplugin_countryName() === "Brazil";
    }
    // Passo 1: Verifica existência cookie idioma
    if (!Cookies.get('lang')) {
        if (!estamosNoBrasil)   {
            Cookies.set('lang', 'en');
            if ('{{site.lang}}' !== 'en') {
                window.location = '{% tl {{page.namespace}} en %}';
            }
        }
    }
</script>