<header class="site-header">
    <div class="wrapper">
        <a class="site-header__logo" href="{% tl home %}">
            <img src="/assets/img/usabit-logo-u.png" alt="" />
            {% include img/usabit-logotipo.svg %}
        </a>
        <div class="site-header__navigation pull-right">
            <nav class="site-header__menu">
                <ul class="site-header__list">
                    {% assign pages = (site.pages | sort:"order" | where: "header", "navigation") %}
                    <ul class="site-header__list">
                        {% for my_page in pages %}
                            {% if my_page.title %}
                                <li class="site-header__item">
                                    <a href="{% tl my_page.namespace %}" class="site-header__link {% if page.url == my_page.url %}active{% endif %}">{% t my_page.title %}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </ul>
            </nav>

            {% for lang in site.languages %}
                {% if lang != site.lang %}
                    <a href="{% tl {{page.namespace}} {{lang}} %}" class="site-header__language">
                        {% if lang == 'pt-br' %}
                            pt
                        {% else %}
                            {{lang}}
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}

            <a href="https://www.facebook.com/usabitdigital" class="site-header__messenger">
                Facebook Messenger
            </a>

            <a href="#" class="site-header__open-menu">
                <svg viewBox="0 0 50 50" viewPort="0 0 50 50" style="width: 30px; height: 30px;">
                    <path d="M 10,14 L 40,14" stroke-width="3" stroke="#bebebe" />
                    <path d="M 10,25 L 40,25" stroke-width="3" stroke="#bebebe" />
                    <path d="M 10,36 L 40,36" stroke-width="3" stroke="#bebebe" />
                </svg>
            </a>
        </div>
    </div>
</header>