<header class="site-header {% if page.url == '/' %}homepage{% endif %}">

  <div class="wrapper">

    <a class="site-title" href="{% tl home %}">
      <img src="/assets/img/usabit-logo-u.png" alt="">
      {% include img/usabit-logotipo.svg %}
    </a>

    <span class="flex-spacer"></span>

    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>
      <div class="responsive-menu"></div>

      <div class="trigger">
        <a class="page-link {% if page.namespace == 'home' %}active{% endif %}" href="{% tl home %}">{% t mainmenu.inicio %}</a>
        {% assign sorted_pages = (site.pages | sort:"order" | where: "group", "navigation") %}
        {% for my_page in sorted_pages %}
          {% if my_page.title %}
            <a class="page-link {% if page.url == my_page.url %}active{% endif %}" href="{% tl my_page.namespace %}">{% t my_page.title %}</a>

            {% if my_page.order == 1 %}
              <div class="page-link group" href="#">
                <span>{% t mainmenu.nossosprodutos %}</span>
                <nav>
                  {% assign sorted_products = (site.pages | where: "group" , "product" | sort:"order") %}
                  {% for my_product in sorted_products %}
                    <a class="page-link {% if page.url == my_product.url %}active{% endif %}" href="{% tl my_product.namespace %}">{% t my_product.title %}</a>
                  {% endfor %}
                </nav>
              </div>
            {% endif %}
            {% if my_page.order == 3 %}
              <a class="page-link" href="https://medium.com/usabit" target="_blank">Blog</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
