<header class="site-header">
    <div class="wrapper">
        <a class="site-header__logo" href="{% tl home %}">
            <img src="/assets/img/usabit-logo-u.png" alt="" />
            {% include img/usabit-logotipo.svg %}
        </a>
        <div class="site-header__navigation">
            <nav class="site-header__menu">
                {% assign pages = (site.pages | sort:"order" | where: "header", "navigation") %}
                <ul class="site-header__menu-list">
                    {% for my_page in pages %}
                        {% if my_page.title %}
                            <li class="site-header__menu-item">
                                <a href="{% tl my_page.namespace %}" class="site-header__menu-link {% if page.url == my_page.url %}active{% endif %}">{% t my_page.title %}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="site-header__menu-item">
                        <a href="http://campanhas.usabit.com.br/provenientes-do-e-mail" class="site-header__menu-link" target="_blank">{% t mainmenu.hireus %}</a>
                    </li>
                </ul>
            </nav>

            {% for lang in site.languages %}
                {% if lang != site.lang %}
                    <a href="{% tl {{page.namespace}} {{lang}} %}" class="site-header__language">
                        {% if lang == 'pt-br' %}
                            pt
                        {% else %}
                            {{lang}}
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}

            <div class="site-header__messenger">
                <svg width="32" height="32" viewBox="0 0 224 226">
                    <defs>
                        <linearGradient id="a" y1="6.76%" x2="50%" x1="50%" y2="95.6%">
                            <stop stop-color="#00C6FF" offset="0"/>
                            <stop stop-color="#0068FF" offset="1"/>
                        </linearGradient>
                    </defs>
                    <path fill="url(#a)" d="m41.255 185.52v40.2l37.589-21.37c10.478 3.02 21.616 4.65 33.156 4.65 61.86 0 112-46.79 112-104.5 0-57.714-50.14-104.5-112-104.5-61.856 0-112 46.786-112 104.5 0 32.68 16.078 61.86 41.255 81.02z"/>
                    <path fill="#fff" d="m100.04 75.878l-60.401 63.952 54.97-30.16 28.721 30.16 60.06-63.952-54.36 29.632-28.99-29.632z"/>
                </svg>

                <div
                class="fb-page"
                data-href="https://www.facebook.com/usabitdigital/"
                data-tabs="messages, timeline"
                data-small-header="false"
                data-adapt-container-width="true"
                data-hide-cover="false"
                data-show-facepile="true"
                >
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/usabitdigital/"><a href="https://www.facebook.com/usabitdigital/">Usabit</a></blockquote>
                    </div>
                </div>
            </div>

            <a href="#" class="site-header__open-menu">
                <svg viewBox="10 10 30 30" width="30" height="30">
                    <path d="M 10,14 L 40,14" stroke-width="3" stroke="#bebebe" />
                    <path d="M 10,25 L 40,25" stroke-width="3" stroke="#bebebe" />
                    <path d="M 10,36 L 40,36" stroke-width="3" stroke="#bebebe" />
                </svg>
            </a>
        </div>
    </div>
    <div class="sidenav">
        <a href="#" class="sidenav__close-menu">Fechar navegação lateral</a>

        <div class="sidenav__left">
            <a class="sidenav__logo" href="{% tl home %}">
                <img src="/assets/img/usabit-logo-u.png" alt="" />
                {% include img/usabit-logotipo.svg %}
            </a>
            <nav class="sidenav__social">
                <ul class="sidenav__social-list">
                    {% for social_link in site.social-links %}
                        <li class="sidenav__social-item">
                            {% include icon-social.html link=social_link.link fontawesome_icon=social_link.fontawesome_icon %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="sidenav__right">
            <h1>{% t sidenav.title %}</h1>

            <nav class="sidenav__nav">
                <h2>{% t sidenav.products %}</h2>
                <ul class="sidenav__list">
                    <li class="sidenav__item">
                        <a href="/produtos/ux-design/" class="sidenav__link">Sites, hotsites e Portais</a>
                    </li>
                    <li class="sidenav__item">
                        <a href="/produtos/ux-design/" class="sidenav__link">Aplicativos Android e IOS</a>
                    </li>
                    <li class="sidenav__item">
                        <a href="/produtos/ux-design/" class="sidenav__link">Sistemas, Intranets</a>
                    </li>
                </ul>
            </nav>
            <nav class="sidenav__nav">
                <h2>{% t sidenav.webdevelopment.title %}</h2>
                <ul class="sidenav__list">
                    <li class="sidenav__item">
                        <a href="/produtos/ux-design/" class="sidenav__link">{% t sidenav.webdevelopment.interfacedesign %}</a>
                    </li>
                    <li class="sidenav__item">
                        <a href="/produtos/ux-design/" class="sidenav__link">{% t sidenav.webdevelopment.front %}</a>
                    </li>
                    <li class="sidenav__item">
                        <a href="/produtos/ux-design/" class="sidenav__link">{% t sidenav.webdevelopment.back %}</a>
                    </li>
                </ul>
            </nav>
            <nav class="sidenav__nav">
                <h2>{% t sidenav.seealso.title %}</h2>
                <ul class="sidenav__list">
                    <li class="sidenav__item">
                        <a href="/cases" class="sidenav__link">{% t sidenav.seealso.cases %}</a>
                    </li>
                    <li class="sidenav__item">
                        <a href="https://medium.com/usabit" class="sidenav__link">{% t sidenav.seealso.blog %}</a>
                    </li>
                    <li class="sidenav__item">
                        <a href="/contato" class="sidenav__link">{% t sidenav.seealso.contact %}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
