.top {
    text-align center
    &__title {
        color $black
        font-size 60px
    }
    &__subtitle {
        color $blue8
        font-weight 400
        font-size 30px
    }
}
.skills {
    display flex
    justify-content space-around
    &__title {
        color $gray2
        font-weight 700
        font-size 23px
    }
    &__item {
        color $gray2
        font-weight 300
        font-size 18px
        line-height 36px
    }
}
.portfolio {
    &__row {
        &:nth-of-type(2) {
            text-align right
        }
    }
    &__title {
        color $gray1
        font-size 32px
    }
    &__text {
        color $gray4
        font-size 18px
        line-height 24px
    }
    &__link {
        display inline-block
        height 44px
        line-height 44px
        padding 0 15px 0 10px
        color $gray2
        font-size 18px
        text-align center
        background $yellow
        border-radius 3px
    }
}
.strategy {
    background $blue13
    &__content {
        display flex
        justify-content space-between
    }
    &__title {
        color $white
        font-size 40px
    }
    &__text, &__box-text {
        color $white
        font-size 18px
        line-height 24px
    }
    &__box-title {
        color $blue10
        font-size 24px
    }
}
.lab {
    &__title {
        color $gray5
        font-size 40px
    }
    &__text {
        color $gray4
        font-size 18px
        line-height: 24px
    }
    &__content {
        display flex
        justify-content space-between
    }
    &__box-title {
        font-size 14px
        text-transform uppercase
        
        &--red {
            color $red3
        }
        &--green {
            color $green
        }
        &--yellow {
            color $yellow2
        }
        &--blue {
            color $blue9
        }
    }
    &__box-text {
        color $gray4
        font-size 14px
        line-height 32px
    }
}
.about {
    .contact {
        text-align center
        &__title {
            color $gray14
            font-size 60px
        }
        &__link {
            display inline-block
            height 44px
            line-height 44px
            padding 0 15px 0 10px
            color $black
            font-weight 700
            font-size 15px
            text-align center
            background $yellow
            border-radius 3px
        }
    }
}






