.main-banner {
    padding 140px 0 340px
    text-align center
    background url(/assets/img/img-mosaic.jpg) repeat-x bottom

    .main-title {
        color $black
        font-size 60px


        span {
            display block
            margin-top 10px
            color  #5b9bce
        }

        +below('small-tablet') {
          font-size 40px
          line-height 120%

          span {
            display inline
          }
        }
    }
}
.services, .blog-news {
    margin-top 140px
    h1 {
        color $gray6
        font-size 40px
        text-align center

        +below('small-tablet') {
          font-size 28px
          line-height 120%

          br {
            display none
          }
        }
    }
}
.services {
    text-align center

    &__navigation {
        margin-top 100px
    }
    &__list {
        display flex
        justify-content space-between
        width 740px
        margin 0 auto

        +below('small-tablet') {
          width 100%
          flex-direction column

          li {
            margin-bottom 40px

            &:last-child {
              margin-bottom 0
            }
          }
        }
    }
    &__link {
        font-family $roboto
        color $black
        font-size 17px
        font-weight 400
        &:before {
            content ""
            display block
            margin 0 auto 35px
        }
        &:hover {
            color $blue2
            text-decoration none
        }
        &--monitor {
            &:before {
                sprite($icon-monitor)
            }
            &:hover {
                &:before {
                    sprite($icon-monitor-hover)
                }
            }
        }
        &--smartphone {
            &:before {
                sprite($icon-smartphone)
            }
            &:hover {
                &:before {
                    sprite($icon-smartphone-hover)
                }
            }
        }
        &--product {
            &:before {
                sprite($icon-product)
            }
            &:hover {
                &:before {
                    sprite($icon-product-hover)
                }
            }
        }
        &--notebook {
            &:before {
                sprite($icon-notebook)
            }
            &:hover {
                &:before {
                    sprite($icon-notebook-hover)
                }
            }
        }
    }
}
.service {
    display flex
    justify-content space-around
    align-items center
    margin-top 140px

    +below('small-tablet') {
      flex-direction column
    }

    &__texts {
        max-width 580px
        h1 {
            color $black
            font-size 40px
            font-weight 700

            +below('small-tablet') {
              font-size 28px
              line-height 120%
            }
        }
        & > p {
            margin-top 50px
            font-family $lato
            color $gray4
            font-size 20px
            font-weight 300
        }
        & + .service__btn {
            margin-left 20px
        }
    }
    &__action, &__action + service__related {
        margin-top 50px
    }
    &__action {
        display flex
        align-items center

        & + .service__related {
            margin-top 50px
        }

        +below('small-tablet') {
          flex-direction column
          text-align center
        }
    }
    &__btn {
        & + .service__btn {
            margin-left 10px
        }
        & + .service__related {
            margin-left 20px
        }
    }
    &__action-text {
        font-family $roboto
        color $gray4
        font-size 16px
        font-weight 500

        & + .service__btn {
            margin-left 20px

            +below('small-tablet') {
              margin-left 0
              margin-bottom 15px
            }
        }
    }
    &__related {
        font-family $roboto
        color  #548ab4
        font-size 15px
        font-weight 300

        strong {
            font-weight 700
        }
    }
    &__img {
      img {
        max-width 100%
      }
    }
}
