.main-banner {
    padding 140px 0 340px
    text-align center
    background url(/assets/img/img-mosaic.jpg) repeat-x bottom

    +below('mobile') {
        padding 100px 0 175px
        background-size 120%
    }

    .main-title {
        color $black
        font-size 60px

        +below('small-tablet') {
            font-size 40px
            line-height 120%
        }

        +below('mobile') {
            font-size 36px
        }

        span {
            display block
            margin-top 10px
            color  #5b9bce

            +below('small-tablet') {
                display inline
                margin 0
            }
        }
    }
    .main-text {
        display none
        color $gray8
        +below('mobile') {
            display block
        }
    }
    .banner-btn {
        display none
        margin 0 auto
        width 35px
        height 35px
        background $yellow
        border-radius 50%

        svg {
            width 20px
        }

        +below('mobile') {
            display flex
            justify-content center
            align-items center
        }
    }
}
.services, .blog-news {
    margin-top 140px

    +below('small-tablet') {
        margin-top 70px
    }
    +below('mobile') {
        margin-top 50px
    }
    h1 {
        color $gray6
        font-size 40px
        text-align center

        +below('small-tablet') {
            font-size 28px
            line-height 120%

            br {
                display none
            }
        }
        +below('mobile') {
            font-size 24px

            br {
                display none
            }
        }
    }
}
.services {
    text-align center

    h1 {
        color $blue14
    }

    &__navigation {
        margin-top 100px

        +below('mobile') {
            margin-top 50px
        }
    }
    &__list {
        display flex
        justify-content space-between
        width 740px
        margin 0 auto

        +below('small-tablet') {
            display block
            width 100%
        }
    }
    &__item {
        +below('small-tablet') {
            display inline-block
            width 47%
            margin-bottom 40px
        }
        &:last-of-type {
            margin-bottom 0
        }
    }
    &__link {
        font-family $roboto
        color $gray4
        font-size 20px
        font-weight 400

        +below('desktop') {
            font-size 17px
        }

        +below('mobile') {
            font-size 14px
        }

        &:hover {
            color $blue9
            text-decoration none

            .services__icon {
                background $blue9
            }
        }
    }
    &__icon {
        content ""
        display flex
        justify-content center
        align-items center
        width 112px
        height 112px
        margin 0 auto 35px
        background $gray15
        border-radius 50%
        text-align center
        box-shadow: -5px 5px 16px rgba(0, 0, 0, 0.1);

        &:before {
            +below('mobile') {
                zoom 0.8
            }
        }
        &--monitor {
            &:before {
                sprite($icon-monitor)

                .services__link:hover & {
                    sprite($icon-monitor-hover)
                }
            }
        }
        &--smartphone {
            &:before {
                sprite($icon-smartphone)

                .services__link:hover & {
                    sprite($icon-smartphone-hover)
                }
            }
        }
        &--product {
            &:before {
                sprite($icon-product)

                .services__link:hover & {
                    sprite($icon-product-hover)
                }
            }
        }
        &--notebook {
            &:before {
                sprite($icon-notebook)

                .services__link:hover & {
                    sprite($icon-notebook-hover)
                }
            }
        }
    }
}
.service {
    display flex
    justify-content space-around
    align-items center
    margin-top 140px

    +below('small-tablet') {
        flex-direction column
        margin-top 50px
    }

    &__texts {
        max-width 580px

        +below('small-tablet') {
            order 1
        }

        h1 {
            color $black
            font-size 40px
            font-weight 700

            +below('small-tablet') {
                font-size 28px
                line-height 120%
            }
            +below('mobile') {
                font-size 20px
                text-align center
            }
        }
        & > p {
            margin-top 50px
            font-family $lato
            color $gray4
            font-size 20px
            font-weight 300

            +below('small-tablet') {
                margin 35px 0 0
                font-size 16px
                text-align center
            }
        }
        & + .service__btn {
            margin-left 20px
        }
    }
    &__action, &__action + .service__related {
        margin-top 50px
    }
    &__action {
        display flex
        align-items center

        & + .service__related {
            margin-top 50px
        }

        +below('small-tablet') {
            flex-direction column
            margin-top 0
            text-align center
        }
        +below('mobile') {
            display none
        }
    }
    &__btn {
        & + .service__btn {
            margin-left 10px
        }
        & + .service__related {
            margin-left 20px
        }
    }
    &__action-text {
        font-family $roboto
        color $gray4
        font-size 16px
        font-weight 500

        & + .service__btn {
            margin-left 20px

            +below('small-tablet') {
              margin-left 0
              margin-bottom 15px
            }
        }
    }
    &__related {
        font-family $roboto
        color  #548ab4
        font-size 15px
        font-weight 300

        strong {
            font-weight 700
        }
    }
    &__img {
        +below('small-tablet') {
            order 2
            margin-top 20px
        }
        img {
            max-width 100%

            +below('small-tablet') {
                zoom 0.6
            }
            +below('mobile') {
                zoom 0.4
            }
        }
    }
}
.projects {
    display none
    margin-top 60px
    padding 30px
    background $lilac
    text-align center

    &__title {
        color $white
        font-size 26px
    }
    &__btn {
        margin 25px 0
    }
    &__link {
        color $white
        font-weight 100
        font-size 16px
    }
    +below('mobile') {
        display block
    }
}
.differentials {
    margin-top: 140px;

    +below('small-tablet') {
        margin-top 100px
    }
    +below('mobile') {
        margin-top 50px
    }

    &__title, &__sub-title {
        color $gray6
        font-size 40px
        text-align center

        +below('mobile') {
            font-size 28px
        }
    }
    &__sub-title {
        margin-top: 40px;
        font-weight 100
        font-size 30px

        +below('mobile') {
            margin-top: 20px;
            font-size 20px
        }
    }
    &__content {
        display flex
        justify-content space-between
        flex-wrap wrap
        margin-top 120px

        +below('small-tablet') {
            margin-top 70px
        }
        +below('mobile') {
            margin-top 50px
        }
    }
    &__box {
        width 30%
        margin-bottom 70px

        +below('small-tablet') {
            width 47%
            margin-bottom: 35px;
        }
        +below('mobile') {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    &__box-title, &__box-text {
        color $gray14
        font-size 26px

        +below('mobile') {
            font-size 20px
        }
    }
    &__box-title {
        height 52px

        +below('mobile') {
            height auto
        }
    }
    &__box-text {
        font-weight 100
        font-size 20px

        +below('mobile') {
            font-size 16px
        }
    }
}
.blog-news {
    +below('mobile') {
        display none
    }
}

.lets-talk {
    position fixed
    top -700px
    display none
    width 100%
    padding 5px 0
    background rgba($white, 0.9)
    text-align center
    transition top 1000ms

    &__btn {
        display inline-block
        width 80%
        height 25px
        line-height 25px
        color $white
        font-size 11px
        text-transform uppercase
        text-align center
        background $blue7
    }
}

.home {
    .lets-talk {
        +below('mobile') {
            display block
        }

        &.active {
            +below('mobile') {
                top 55px
                transition top 1000ms
            }
        }
    }

    .btn-go-top {
        display none
        position fixed
        right 15px
        bottom -70px
        width 35px
        height 35px
        background $yellow
        border-radius 50%
        z-index 1
        transition bottom 500ms

        +below('mobile') {
            display flex
            justify-content center
            align-items center
        }

        &.active {
            +below('mobile') {
                bottom 130px
                transition bottom 500ms
            }
        }

        svg {
            width 20px
        }

    }
}