---
layout: default
namespace: cases
title: pagetitle.cases
permalink: /cases/
---
<div class="cases">
  <section class="top wrapper">
    <h1 class="top__title">{% t pages.cases.title %}</h1>
    <h2 class="top__subtitle">{% t pages.cases.subtitle %}</h2>
  </section>

  <ul class="cases__list wrapper">
    {% for case in site.translations[site.lang]["pages"]["cases"]["listacases"] %}
    <li class="cases__item">
      <img src="/assets/img/cases/{{case.id}}/case-img.png" alt="" class="cases__img" />

      <div class="cases__texts">
        <h2 class="cases__title">{{case.title}}</h2>
        <p class="cases__info">{{case.info}}</p>

        <ul class="cases__links">
          {% if case.linkhref != null %}
          <li>
            <a href="{{case.linkhref}}" target="_blank" class="link">
              <span class="fa-stack fa-md">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-behance fa-stack-1x fa-inverse"></i>
              </span>
              {% t pages.cases.link %}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>

  <section class="cases__contact">
    <div class="wrapper">
      <h1 class="cases__contact-title">{% t pages.cases.contact.title %}</h1>
      <a href="/contato" class="cases__contact-link">{% t pages.cases.contact.link %}</a>
    </div>
  </section>
</div>