---
layout: page
namespace: produtosinfra
title: mainmenu.infraestrutura
permalink: /produtos/infra-estrutura/
permalink_en: /products/infrastructure/
order: 3
group: "product"
banner_class: texto-escuro
banner_title_text: pages.infra.banner_title_text
banner_text: pages.infra.banner_text
banner_img: /assets/img/banner-infra.jpg
hide_arrow: 1
---

<div class="divider-marker n-mt-60">
    <div class="wrapper">
        <h2 class="white mtb-60">{% t pages.infra.chamada.title %}</h2>
    </div>
</div>

<div class="wrapper">

    <h2 class="mt-55 mb-15">{% t pages.infra.estruturaonline %}</h2>
    <ul class="infra-estruturas-list">
        <li>
            <div class="svg-icon infra-estrutura infra">
                {% include img/svg-infra.html %}    
            </div>
            <span>{% t pages.infra.avaliamos %}</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura site">
                {% include img/svg-infra.html %}    
            </div>
            <span>{% t pages.infra.configuramos %}</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura nuvem">
                {% include img/svg-infra.html %}    
            </div>
            <span>{% t pages.infra.armazenamento %}</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura wireless">
                {% include img/svg-infra.html %}    
            </div>
            <span>{% t pages.infra.seuescritorio %}</span>
        </li>
    </ul>

    <div class="clearfix"></div>

    <h2 class="mt-55 mb-15"></h2>
    <ul class="infra-estruturas-list">
        <li>
            <div class="svg-icon infra-estrutura computador">
                {% include img/svg-infra.html %}    
            </div>
            <span>{% t pages.infra.avaliamoscomputadores %}</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura internet">
                {% include img/svg-infra.html %}    
            </div>
            <span>{% t pages.infra.dimensionamos %}</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura sinal-internet">
                {% include img/svg-infra.html %}    
            </div>
            <span>{% t pages.infra.distribuimos %}</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura equipe">
                {% include img/svg-infra.html %}    
            </div>
            <span>{% t pages.infra.jaque %}</span>
        </li>
    </ul>

    <div class="clearfix"></div>

</div>

<form id="infraEstrutura" class="form-display" method="post">
<div class="formulario-wrapper azul mtb-60">
    <div class="wrapper">
        <table class="formulario azul">
            <tbody>
                <tr>
                    <td></td>
                    <td class="ptb-50 plr-30">
                        <h1>{% t pages.infra.vamoscomecar %}</h1>
                        <h3>{% t pages.infra.essasrespostas %}</h3>
                    </td>
                </tr>
                <tr>
                    <td>{% t pages.infra.quemevoce %}</td>
                    <td>
                        <p class="mobile-only">{% t pages.infra.quemevoce %}</p>

                        <div class="flex">
                            <input type="text" name="nome">
                            <span class="hint">{% t pages.infra.nome %}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="flex">
                            <input type="email" name="email">
                            <span class="hint">{% t pages.infra.email %}</span>                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{% t pages.infra.nomesuaempresa %}</td>
                    <td>
                        <p class="mobile-only">{% t pages.infra.nomesuaempresa %}</p>

                        <div class="flex">
                            <input type="text" name="empresa_nome">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{% t pages.infra.ramoatuacao %}</td>
                    <td>
                        <p class="mobile-only">{% t pages.infra.ramoatuacao %}</p>

                        <div class="flex">
                            <input type="text" name="empresa_atividade">
                            <span class="hint">{% t pages.infra.nosajude %}</span>                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{% t pages.infra.enderecofisico %}</td>
                    <td>
                        <p class="mobile-only">{% t pages.infra.enderecofisico %}</p>

                        <div class="flex">
                            <input type="text" class="cep" name="empresa_cep">
                            <span class="hint">{% t pages.infra.vamosdescobrir %}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{% t pages.infra.quantosfuncionarios %}</td>
                    <td>
                        <p class="mobile-only">{% t pages.infra.quantosfuncionarios %}</p>
                        <div class="flex">
                            <div class="input-group-infra">
                                <label>
                                    <span>{% t pages.infra.funcionarios %}</span>
                                    <input type="text" name="empresa_funcionarios" value="">
                                </label>
                            </div>
                            <div class="input-group-infra">
                                <label>
                                    <span>{% t pages.infra.computadores %}</span>
                                    <input type="text" name="empresa_computadores" value="">
                                </label>
                            </div>
                            <div class="input-group-infra">
                                <label>
                                    <span>{% t pages.infra.impressoras %}</span>
                                    <input type="text" name="empresa_impressoras" value="">
                                </label>
                            </div>
                            <div class="input-group-infra">
                                <label>
                                    <span>{% t pages.infra.outros %}</span>
                                    <input type="text" name="empresa_outros" value="">
                                </label>
                            </div>
                        </div>
                        <span class="hint left">{% t pages.infra.fluxo %}</span>
                    </td>
                </tr>
                <tr>
                    <td>{% t pages.infra.jaconfigurado %}</td>
                    <td>
                        <p class="mobile-only">{% t pages.infra.jaconfigurado %}</p>

                        <div class="flex">
                            <input type="text" name="empresa_redeconfigurada">
                            <!-- <span class="hint">Vamos descobrir os melhores <br> serviços de internet da sua região</span> -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{% t pages.infra.seusite %}</td>
                    <td>
                        <p class="mobile-only">{% t pages.infra.seusite %}</p>

                        <div class="flex">
                            <input type="text" name="empresa_site">
                            <span class="hint">{% t pages.infra.sitenecessario %}</span>                            
                        </div>
                    </td>
                </tr>
                <tr class="form-erro">
                    <td></td>
                    <td>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="danger mt-20 mb-10">{% t pages.infra.algodeuerrado %}</h3>
                                <p class="mt-10 n-mb-20">{% t pages.infra.tentemaistarde %}</p>                        
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" id="formInfraSend" class="cta blue mt-10 prl-20">
                            {% t pages.infra.enviar %}
                            {% include img/svg-loading.html size="25px" fill="#fff" %}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>    
</div>
</form>

<div class="form-sucesso azul ptb-60 mtb-60">
    <div class="wrapper">
        <h1 class="text-center">{% t pages.infra.mensagemenviada %}</h1>
        <p class="text-center">{% t pages.infra.vamosanalisar %}</p>
    </div>
</div>

<div class="wrapper">
    <ul class="experts-list">
        <h2>{% t pages.infra.vocepodeprecisar %}</h2>
        <li>
            <img src="{{ '/assets/img/especialidade-icon-ux.jpg' | prepend: site.baseurl_root }}" alt="">
            <p>UX Design</p>
        </li>
        <li>
            <img src="{{ '/assets/img/especialidade-icon-html.jpg' | prepend: site.baseurl_root }}" alt="">
            <p>{% t pages.infra.htmlcssjs %}</p>
        </li>
        <li>
            <img src="{{ '/assets/img/especialidade-icon-wordpress.jpg' | prepend: site.baseurl_root }}" alt="">
            <p>{% t pages.infra.cms %}</p>
        </li>
        <li>
            <img src="{{ '/assets/img/especialidade-icon-android.jpg' | prepend: site.baseurl_root }}" alt="">
            <p>{% t pages.infra.android %}</p>
        </li>
    </ul>

</div>