section.banner-fullwidth {
  width 100%
  
  ul {
    padding 0
    margin 0
    list-sytle 0
    
    li {
      background-size cover
      background-position center center
      margin 0
      padding 0
      position relative
      z-index 1
      
      &:after {
        background-image linear-gradient(to top, alpha(black, .7), transparent)
        content ''
        position absolute
        trbl 0
        z-index -1
      }
      
      .wrapper {
        height 585px
        padding 160px 0 50px 0
        display flex
        flex-direction column
        justify-content space-around
      }      
      
      h1,
      p {
        margin 0
        line-height 1.5
        max-width 450px
        color white
        text-shadow 1px 1px alpha(black, .3)
        
        +below('mobile'){
          br {
            display none
          }          
        }
      }
    }
  }
}