.divider-marker {
    background-color azulUsabit
    overflow hidden
    
    color black
    
    .uppercase {
        text-transform uppercase
    }
    

    
    .white {
        color white
    }
}