.divider-marker {
    background-color azulUsabit
    overflow hidden
    
    color black
    
    .uppercase {
        text-transform uppercase
    }
    
    &.golden-bg {
        background-color #bdb573
    }
    
    .white {
        color white
    }
    
    p {
        line-height 1.4
        font-size 1rem
    }
    
    .custom-paragrath {
        max-width 600px
        margin 20px auto 60px auto
    }
}