.experts-list {
    display flex
    justify-content space-around
    flex-wrap wrap
    align-items center
    
    h2 {
        width 250px
        color azulUsabit
        
        +below('small-tablet'){
            width 100%
            text-align center
        }
    }
    
    li {
        align-self stretch
        border 2px solid alpha(black, .2)
        width 200px
        flex-shrink 0
        margin-top 15px
        padding-top 15px
        display flex
        flex-direction column
        align-items center
        text-align center
    }
}