.product-brief {
    display flex
    justify-content space-between
    
    
    +below('mobile'){
        flex-direction column
        align-items center
    }

    .text-wrapper {
        display flex
        flex-direction column
        max-width 600px
        justify-content center
        margin-right 15px

        +below('mobile'){
            align-items center
            margin-right 0
            p {
                text-align center
            }
        }
        
        h3 {
            color azulUsabit
            line-height 1.6
        }
        p {
            line-height 1.6
        }
    }
}