.share-page {
    font-size 2rem
    text-align center
    color alpha(black, .45)
    line-height 1.6

    strong {
        font-weight normal
        color black
    }
    
    .fa-whatsapp {
        color #78fe3d
        font-size 4rem
    }
    
    +above('small-tablet'){
        display none
    }
}