.svg-icon {
    svg {
        max-width 200px
        g {
            display none
        }
    }
    
    &.infra-estrutura {
        


        g#infra-estrutura {
            display block
        }
        
        &.computador {
            g#computador {
                display block
            }
        }

        &.sinal-internet {
            g#sinal-internet {
                display block
            }
        }

        &.wireless {
            g#wireless {
                display block
            }
        }

        &.site {
            g#site {
                display block
            }
        }

        &.infra {
            g#infra {
                display block
            }
        }

        &.nuvem {
            g#nuvem {
                display block
            }
        }

        &.internet {
            g#internet {
                display block
            }
        }
        
        &.equipe {
            g#equipe {
                display block
            }
        }        

    }
}
