.site-footer {
    margin 0 55px

    +below('small-tablet') {
        margin 0 25px
        text-align center
    }
    +below('mobile') {
        margin 0 15px
    }
    .wrapper {
        position relative
        display flex
        justify-content space-between
        align-items center
        padding 55px 0
        border-top 1px solid rgba($gray7, 0.3)

        +below('small-tablet') {
            flex-direction column
        }
        +below('mobile') {
            padding 55px 0 20px
        }
    }
    &__logo {
        display inline-flex
        align-items flex-start

        +below('small-tablet') {
            display block
        }

        &:hover {
            text-decoration none
        }

        img {
            width 29px
            margin 3px 24px 0 0

            +below('small-tablet') {
                margin 0 0 20px 0
            }
        }
    }
    &__logo-text {
        margin 0
        font-family $lato
        color $gray9
        line-height 100%
        font-size 16px
        font-weight 400

        +below('mobile') {
            font-size 12px
        }

        small {
            display block
            margin-top 3px
            font-size 12px

            +below('mobile') {
                margin-top 8px
                font-size 9px
            }
        }
    }
    &__menu-list, &__social-list {
        display flex
        align-items center
    }
    &__menu-list {
        +below('small-tablet') {
            display block
            margin 50px 0
        }
    }
    &__menu-item {
        +below('small-tablet') {
            display block
        }
        &:before {
            content "•"
            margin 0 15px
            color $blue9
            font-size 16px
            font-weight 400

            +below('small-tablet') {
                display none
            }
        }
        &:first-of-type {
            &:before {
                display none
            }
        }
    }
    &__menu-link {
        font-family $lato
        color $gray3
        font-weight 400
        font-size 16px

        +below('small-tablet') {
            font-size 12px
        }
    }
    &__social-item {
        margin-left 10px
        &:first-of-type {
            margin-left 0
        }
        .social-media-link {
            color rgba($gray12, 0.7)
            font-size 15px
            opacity 1
            transition opacity 250ms

            +below('mobile') {
                zoom 0.7
            }
            &:hover {
                opacity 0.6
                transition opacity 250ms
            }
        }
    }
}