.oportunidade-imagemlocalizacao {
    position relative
    img {
        width 100%
    }
    p {
        position absolute
        right 15px
        color goldenrod
    }
}

form.oportunidade {
    background-color alpha(black, .1)
    
    &.valign-bottom {
        display flex
        align-items flex-end
    }
}

ul.oportunidades {
    li {
        margin 10px 0

        &:first-child {
            margin-top 0
        }

        &:last-child {
            margin-bottom 0
        }
        
        a {
            margin-bottom 5px
            color black

            &:hover, &:focus {
                text-decoration  none
            }
        }

        p {
            max-height 0
            margin 0
            font-size .8rem
            overflow hidden
            transition max-height 250ms
        }

        &.active {
            p {
                max-height 90px
            }
        }
    }
}