flex-version = flex
support-for-ie = true
vendor-prefixes = official

@import 'nib'
@import 'rupture'
@import 'jeet'

rupture.scale =        0        600px       800px       1050px      1200px      1400px      1500px
//                     └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬────
// Slice numbers:           1           2           3           4           5           6
rupture.scale-names =    'mobile' 'small-tablet' 'tablet'    'desktop'     'hd'    'wrap-break'

global-reset()

azulUsabit = #5b9bce
corPrincipal = azulUsabit

@import "_definitions/*";
@import "_partials/*";
@import "elements/*";
@import "pages/*";

@-ms-viewport{
    width: device-width;
}

.wrapper {
    width 100%
    max-width 1265px
    margin-right auto
    margin-left auto
    padding-right 55px
    padding-left 55px

    +below('small-tablet') {
        padding-left 25px
        padding-right 25px
    }
    +below('mobile') {
        padding-right 15px
        padding-left 15px
    }
}

.clearfix {
    clearfix()
}
