---
layout: page
title: Cases
permalink: /cases/
order: 3
group: "navigation"
banner_class: cases
banner_text: Conheça um pouco do que fazemos através <br> dos nossos cases e projetos mais recentes.
banner_img: /assets/img/cases-banner-01.jpg
---

<div class="wrapper">

  <div class="text-center mtb-60">
    <h2 class="mb-30">Nossos Projetos</h2>
    <p class="fixed-width">A equipe Usabit trabalha com dedicação e cuidado para administrar e criar os melhores projetos para nossos clientes.</p>
  </div>

</div>

<ul class="cases-display-list">

  {% for case in site.cases %}
    <li class="cases-display-item" style="background-image: url('/assets/img/cases/{{case.id}}/background.jpg');">
      <div class="wrapper">
        <div class="text-wrapper">
          <img src="/assets/img/cases/{{case.id}}/device.png" alt="" class="case-img-helper {{case.deviceclass}}">
          <img src="/assets/img/cases/{{case.id}}/icon.png" alt="" class="case-icon">
          <h2 class="case-title">{{case.title}}</h2>
          <h3 class="case-slogan">{{case.slogan}}</h3>
          <ul class="case-links">
            <!-- <li><a href="#" class="download"><i class="fa fa-download"></i>Download</a></li> -->
            {% if case.linkhref.length > 0 %}
            <li><a href="http://www.{{case.linkhref}}" target="_blank" class="link"><i class="fa {{case.linkclass}}"></i>{{case.linkhref}}</a></li>
            {% endif %}
          </ul>
          <!-- <p class="case-disclaimer">Em colaboração com a Twelve Sports</p> -->
        </div>
      </div>
    </li>
  {% endfor %}

</ul>
