---
layout: page
namespace: contact
title: mainmenu.contact
permalink: /contrate/
permalink_en: /contact-us/
order: 2
group: "navigation"
banner_class: contato
banner_text: pages.contato.banner_text
banner_img: /assets/img/contato-banner-01.jpg
---

<section class="wrapper contato">
    <div class="contact-method">
        <h1 class="mb-50">{% t pages.contato.podefalar %}</h1>
        <div
        class="fb-page"
        data-href="https://www.facebook.com/usabitdigital/"
        data-tabs="messages, timeline"
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"
        >
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/usabitdigital/"><a href="https://www.facebook.com/usabitdigital/">Usabit</a></blockquote>
            </div>
        </div>

    </div>
    <div class="contact-method">
        <h1 class="mb-50">{% t pages.contato.vamosseramigos %}</h1>

        <ul class="social-media-list">
            {% for social_link in site.social-links %}
            <li>
                {% include icon-social-contato.html link=social_link.link fontawesome_icon=social_link.fontawesome_icon description=social_link.description %}
            </li>
            {% endfor %}
        </ul>

        <h1 class="mtb-50">{% t pages.contato.portelefone %}</h1>
        <ul class="phone-list">
          <li><strong>{% t pages.contato.escritorio %}</strong> +55 21 3586-7016</li>
          <li><strong>Rodrigo Lemos</strong> +55 21 98899-4327</li>
          <li><strong>Rafael Tavares</strong> +55 21 98462-6843</li>
        </ul>

    </div>
</section>
