---
layout: page
title: Infra-estrutura
permalink: /produtos/infra-estrutura/
order: 1
group: "product"
banner_class: texto-escuro
banner_title_text: Infra-estrutura, e-mails e servidores na nuvem
banner_text: Tudo que você precisa para facilitar o dia-a-dia de seu escritório é uma infra-estrutura barata e confiável.
banner_img: /assets/img/banner-infra.jpg
hide_arrow: 1
---

<div class="divider-marker n-mt-60">
    <div class="wrapper">
        <h2 class="white mtb-60">Nós dividimos sua empresa <strong>em duas partes</strong></h2>
    </div>
</div>

<div class="wrapper">

    <h2 class="mt-55 mb-15">Estrutura Online</h2>
    <ul class="infra-estruturas-list">
        <li>
            <div class="svg-icon infra-estrutura infra">
                {% include img/svg-infra.html %}    
            </div>
            <span>Nós avaliamos as reais necessidades de infra para sua empresa funcionar</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura site">
                {% include img/svg-infra.html %}    
            </div>
            <span>Configuramos seus e-mails, servidores e site com muita transparência</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura nuvem">
                {% include img/svg-infra.html %}    
            </div>
            <span>Com o armazenamento na nuvem, você não perde espaço com servidores físicos</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura wireless">
                {% include img/svg-infra.html %}    
            </div>
            <span>Seu escritório não fica cheio de cabos e armários. O presente da tecnologia é Wireless.</span>
        </li>
    </ul>

    <div class="clearfix"></div>

    <h2 class="mt-55 mb-15">Estrutura Física</h2>
    <ul class="infra-estruturas-list">
        <li>
            <div class="svg-icon infra-estrutura computador">
                {% include img/svg-infra.html %}    
            </div>
            <span>Nós avaliamos seus computadores e o tipo de informação que você trabalha</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura internet">
                {% include img/svg-infra.html %}    
            </div>
            <span>Dimensionamentos o tamanho da banda de internet necessária para sua operação</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura sinal-internet">
                {% include img/svg-infra.html %}    
            </div>
            <span>Distribuimos o sinal de internet e a rede pelo escritório sem cabos</span>
        </li>
        <li>
            <div class="svg-icon infra-estrutura equipe">
                {% include img/svg-infra.html %}    
            </div>
            <span>Já que maioria dos problemas são causados pela falta de conhecimento, treinaremos seus funcionários!</span>
        </li>
    </ul>

    <div class="clearfix"></div>

</div>

<div class="formulario-wrapper azul mtb-60">
    <div class="wrapper">
        <table class="formulario azul">
            <tbody>
                <tr>
                    <td></td>
                    <td class="ptb-50 plr-30">
                        <h1>Vamos começar?</h1>
                        <h3>Estas respostas vão nos ajudar a encontrar a melhor solução para sua empresa.</h3>
                    </td>
                </tr>
                <tr>
                    <td>Qual seu ramo de atuação?</td>
                    <td>
                        <p class="mobile-only">Qual seu ramo de atuação?</p>

                        <div class="flex">
                            <input type="text">
                            <span class="hint">Nos ajuda a entender que tipo <br> de arquivos você trafega</span>                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Endereço físico (CEP)</td>
                    <td>
                        <p class="mobile-only">Endereço físico (CEP)</p>

                        <div class="flex">
                            <input type="text" class="cep" value="21310-310">
                            <span class="hint">Vamos descobrir os melhores <br> serviços de internet da sua região</span>                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Quantos funcionários, <br> computadores e dispositivos</td>
                    <td>
                        <p class="mobile-only">Quantos funcionários, <br> computadores e dispositivos</p>
                        <div class="flex">
                            <div class="input-group-infra">
                                <label>
                                    <span>Funcionários</span>
                                    <input type="text" name="" value="">
                                </label>
                            </div>
                            <div class="input-group-infra">
                                <label>
                                    <span>Computadores</span>
                                    <input type="text" name="" value="">
                                </label>
                            </div>
                            <div class="input-group-infra">
                                <label>
                                    <span>Impressoras</span>
                                    <input type="text" name="" value="">
                                </label>
                            </div>
                            <div class="input-group-infra">
                                <label>
                                    <span>Outros</span>
                                    <input type="text" name="" value="">
                                </label>
                            </div>
                        </div>
                        <span class="hint left">O fluxo de informações e conexões varia de acordo com isso</span>
                    </td>
                </tr>
                <tr>
                    <td>Já possui uma configuração <br> de rede?</td>
                    <td>
                        <p class="mobile-only">Já possui uma configuração <br> de rede?</p>

                        <div class="flex">
                            <input type="text">
                            <span class="hint">Vamos descobrir os melhores <br> serviços de internet da sua região</span>                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Qual seu site?</td>
                    <td>
                        <p class="mobile-only">Qual seu site?</p>

                        <div class="flex">
                            <input type="text">
                            <span class="hint">É necessário para <br> configurar o servidor</span>                            
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="#" class="cta blue">Enviar</a>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>    
</div>

<div class="wrapper">
    <ul class="experts-list">
        <h2>Você também pode precisar da Usabit para:</h2>
        <li>
            <img src="{{site.baseurl}}/assets/img/especialidade-icon-ux.jpg" alt="">
            <p>UX Design</p>
        </li>
        <li>
            <img src="{{site.baseurl}}/assets/img/especialidade-icon-html.jpg" alt="">
            <p>HTML, CSS <br> e JavaScript</p>
        </li>
        <li>
            <img src="{{site.baseurl}}/assets/img/especialidade-icon-wordpress.jpg" alt="">
            <p>CMS / WordPress <br> e e-Commerce</p>
        </li>
        <li>
            <img src="{{site.baseurl}}/assets/img/especialidade-icon-android.jpg" alt="">
            <p>Android e <br> iOS Design</p>
        </li>
    </ul>

</div>