<!DOCTYPE html>
<html>
{% include head.html %}

<body>

    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5&appId=707745562698386";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/be0d3daf-df7c-422a-8686-df8c0a7855c7-loader.js" ></script>
</body>

</html>
