[class*="icon-"] {
    font-size 0
    &:before {
        content ""
        display inline-block
    }
}
.icon-geracao-futuro {
    &:before {
        sprite($icon-geracao-futuro)
    }
}
.icon-tech-healthy {
    &:before {
        sprite($icon-tech-healthy)
    }
}
.icon-loreal {
    &:before {
        sprite($icon-loreal)
    }
}
.icon-linc-edge {
    &:before {
        sprite($icon-linc-edge)
    }
}
.icon-outra-coisa {
    &:before {
        sprite($icon-outra-coisa)
    }
}
.icon-mongeral-aegon {
    &:before {
        sprite($icon-mongeral-aegon)
    }
}
.icon-dufry {
    &:before {
        sprite($icon-dufry)
    }
}
.icon-sanes {
    &:before {
        sprite($icon-sanes)
    }
}
.icon-twelve {
    &:before {
        sprite($icon-twelve)
    }
}
.icon-qx3 {
    &:before {
        sprite($icon-qx3)
    }
}
.icon-wella {
    &:before {
        sprite($icon-wella)
    }
}
.icon-beluga {
    &:before {
        sprite($icon-beluga)
    }
}
.icon-grupo-seleto {
    &:before {
        sprite($icon-grupo-seleto)
    }
}