.btn-default {
    display inline-block
    height 44px
    line-height 44px
    padding 0 15px
    font-family $roboto
    color $white
    font-size 15px
    font-weight 700
    text-align left
    border-radius 3px
    background #53a3e2
    opacity 1
    transition all 250ms
    
    &:hover {
        color $white
        text-decoration none
        opacity 0.75
        transition all 250ms
    }
}
.btn-secondary {
    @extend .btn-default
    background $blue12
}