.divider-marker {
    background-color #1c1c1c
    overflow hidden
    
    color black
    
    a {
        color black
        text-align center
        &:hover {
            text-decoration none
            color alpha(black, .8)
        }
    }
    
    .uppercase {
        text-transform uppercase
    }
    
    &.golden-bg {
        background-color #bdb573
    }
    
    .white {
        color white
    }
    
    p {
        line-height 1.4
        font-size 1rem
    }
    
    .custom-paragrath {
        max-width 600px
        margin 20px auto 60px auto
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &.flex-direction-column {
            flex-direction: column;
        }

        +below('mobile'){
            flex-direction: column;
            align-items: center;

            * {
                font-size: 20px;
            }

            a { 
                margin: 20px 0 0 !important; 
                padding: 10px 15px !important;
                align-self: center;
                font-size: 14px;
            }
        }
    }
}