---
layout: default
namespace: home
permalink: /
---
<div id="home" class="home">
    <section class="main-banner">
        <div class="banner-content">
            <div class="wrapper">
                <div class="main-banner__texts">
                    <h1 class="main-banner__title">
                        {% t pages.index.title %}
                    </h1>
                    <!-- <h2 class="main-banner__sub-title">
                        {% t pages.index.subtitle %}
                    </h2> -->
                    <a href="{% tl about %}" class="main-banner__btn btn-default">{% t pages.index.link %}</a>
                </div>
            </div>
        </div>

    </section>

    <!-- Customers list -->
    {% include customers.html %}
    <!-- / Customers list -->

    <section class="services-black">
        <div class="wrapper">
            <nav class="services-list">
                <a href="#sites" class="services-list-item anchor">
                    {% include img/iconComputer.svg %}
                    {% t pages.index.services.sites %}
                </a>
                <a href="#apps" class="services-list-item anchor">
                    {% include img/iconPhone.svg %}
                    {% t pages.index.services.apps %}
                </a>
                <a href="#products" class="services-list-item anchor">
                    {% include img/iconBox.svg %}
                    {% t pages.index.services.products %}
                </a>
                <a href="#marketing" class="services-list-item anchor">
                    {% include img/iconComputerSEO.svg %}
                    {% t pages.index.services.marketing %}
                </a>
            </ul>
        </div>
    </section>

    <section id="sites" class="service sites">
        <div class="wrapper">
            <div class="service__texts">
                <h1>{% t pages.index.sites.title %}</h1>
                <p>
                    {% t pages.index.sites.text %}
                </p>
                <div class="service__action">
                    <a href="https://campanhas.usabit.com.br/provenientes-do-e-mail" target="_target" class="service__btn btn-default">{% t pages.index.sites.button2 %}</a>
                </div>
            </div>
            <div class="service__img">
                <img src="/assets/img/CircleImg1.png" alt="" />
            </div>
        </div>
    </section>

    <section id="apps" class="service apps">
        <div class="wrapper">
            <div class="service__img">
                <img src="/assets/img/CircleImg2.png" alt="" />
            </div>
            <div class="service__texts">
                <h1>{% t pages.index.apps.title %}</h1>
                <p>
                    {% t pages.index.apps.text %}
                </p>
                <div class="service__action">
                    <a href="{% tl cases %}" class="service__btn btn-default">{% t pages.index.apps.button1 %}</a>
                    <a href="#" class="service__related" style="display: none">{% t pages.index.apps.related %}</a>
                </div>
            </div>
        </div>
    </section>

    <section id="products" class="service products">
        <div class="wrapper">
            <div class="service__texts">
                <h1>{% t pages.index.products.title %}</h1>
                <p>
                    {% t pages.index.products.text %}
                </p>
                <div class="service__action">
                    <p class="service__action-text">
                        {% t pages.index.products.action %}
                    </p>
                    <a href="https://campanhas.usabit.com.br/provenientes-do-e-mail" target="_blank" class="service__btn btn-default">{% t pages.index.products.button1 %}</a>
                </div>
                <a href="#" class="service__related" style="display: none;">{% t pages.index.products.related %}</a>
            </div>
            <div class="service__img">
                <img src="/assets/img/CircleImg3.png" alt="" />
            </div>
        </div>
    </section>

    <section id="marketing" class="service marketing">
        <div class="wrapper">
            <div class="service__img">
                <img src="/assets/img/CircleImg4.png" alt="" />
            </div>
            <div class="service__texts">
                <h1>{% t pages.index.marketing.title %}</h1>
                <p>
                   {% t pages.index.marketing.text %}
                </p>
                <!-- <div class="service__action">
                    <a href="{% tl marketing %}" class="service__btn btn-default">{% t pages.index.marketing.button1 %}</a>
                </div> -->
                <!-- <a href="#" class="service__related" style="display: none">{% t pages.index.marketing.related %}</a> -->
            </div>
        </div>
    </section>

    <section class="lets-talk">
        <a href="#" class="lets-talk__btn">{% t pages.index.letstalk %}</a>
    </section>

    <section id="projects" class="projects">
        <h1 class="projects__title">{% t pages.index.projects.title %}</h1>
        <a href="#" class="projects__btn btn-default">{% t pages.index.projects.button %}</a>
        <a href="#" class="projects__link">{% t pages.index.projects.link %}</a>
    </section>

    <section class="differentials">
        <div class="wrapper">
            <h1 class="differentials__title">{% t pages.index.differentials.title %}</h1>
            <h2 class="differentials__sub-title">{% t pages.index.differentials.subtitle %}</h2>
    
            <div class="differentials__content">
                <div class="differentials__box">
                    <h3 class="differentials__box-title">
                        {% t pages.index.differentials.box1.title %}
                    </h3>
                    <p class="differentials__box-text">
                        {% t pages.index.differentials.box1.text %}
                    </p>
                </div>
                <div class="differentials__box">
                    <h3 class="differentials__box-title">
                        {% t pages.index.differentials.box2.title %}
                    </h3>
                    <p class="differentials__box-text">
                        {% t pages.index.differentials.box2.text %}
                    </p>
                </div>
                <div class="differentials__box">
                    <h3 class="differentials__box-title">
                        {% t pages.index.differentials.box3.title %}
                    </h3>
                    <p class="differentials__box-text">
                        {% t pages.index.differentials.box3.text %}
                    </p>
                </div>
                <div class="differentials__box">
                    <h3 class="differentials__box-title">
                        {% t pages.index.differentials.box4.title %}
                    </h3>
                    <p class="differentials__box-text">
                        {% t pages.index.differentials.box4.text %}
                    </p>
                </div>
                <div class="differentials__box">
                    <h3 class="differentials__box-title">
                        {% t pages.index.differentials.box5.title %}
                    </h3>
                    <p class="differentials__box-text">
                        {% t pages.index.differentials.box5.text %}
                    </p>
                </div>
                <div class="differentials__box">
                    <h3 class="differentials__box-title">
                        {% t pages.index.differentials.box6.title %}
                    </h3>
                    <p class="differentials__box-text">
                        {% t pages.index.differentials.box6.text %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-news wrapper">
        <div class="wrapper">
            <h1>{% t pages.index.blog.title %}</h1>
            <div id="medium-posts"></div>
        </div>
    </section>

    <a href="#home" class="btn-go-top anchor">
        <svg viewBox="1 0 16 16" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M9.002,0.02 L15.695,6.325 C16.154,6.784 15.992,7.485 15.789,7.684 C15.387,8.086 14.791,8.026 14.387,7.623 L9.949,3.728 L9.947,15.042 C9.947,15.554 9.521,15.968 8.996,15.97 C8.471,15.97 8.045,15.554 8.045,15.042 L8.033,3.831 L3.762,7.685 C3.358,8.087 2.703,8.087 2.301,7.685 C1.897,7.285 1.998,6.736 2.403,6.333 L9.002,0.02 L9.002,0.02 Z" fill="#434343" class="si-glyph-fill"></path>
            </g>
        </svg>
    </a>
</div>