@keyframes bounce {
  0%, 35% {
    transform:translateY(0);
  }
  40% {
    transform:translateY(-20%);
  }
  45% {
    transform:translateY(0);
  }
  50% {
    transform:translateY(-10%);
  }
  55%, 100% {
    transform:translateY(0);
  }
}

.bounce {
  animation-name bounce
  animation-duration 5s
  animation-iteration-count infinite
  animation-delay 3s
}
  
@keyframes breath {
  0%, 100% {
    box-shadow 0 0 0px 6px alpha(azulUsabit, .45)
  }
  50% {
    box-shadow 0 0 6px 0px alpha(azulUsabit, .45)
  }
}