a {
  font-size 1.125rem
  color #1a9ded
  text-decoration none
}

.btn {
  text-decoration none
  padding 10px 15px
  display inline-flex
  align-self flex-start
  text-transform uppercase
  color white
  background-color #1a9ded
  font-size 1rem
  font-weight 300
  border-radius 3px
}