// font-size base 16

// Headers
h1 {
  font-size 2.375rem
  font-weight 300
}

h2 {
  font-size 1.875rem
  font-weight 300
}

// *********************** //
.light {
  font-weight 300
}

.center {
  text-align center
}

.fm {
  font-size 1.375rem
}